.bb-flex {
  display: flex;
  flex-direction: row;
}

.bb-flex--wrap {
  flex-wrap: wrap;
}

.bb-flex--gap-none {
  gap: 0;
}

.bb-flex--gap-xs {
  gap: 0.25rem;
}

.bb-flex--gap-sm {
  gap: 0.5rem;
}

.bb-flex--gap-md {
  gap: 1rem;
}

.bb-flex--gap-lg {
  gap: 1.5rem;
}

.bb-flex--gap-xl {
  gap: 2rem;
}

.bb-flex--align-start {
  align-items: flex-start;
}

.bb-flex--align-center {
  align-items: center;
}

.bb-flex--align-end {
  align-items: flex-end;
}

.bb-flex--align-stretch {
  align-items: stretch;
}

.bb-flex--align-baseline {
  align-items: baseline;
}

.bb-flex--justify-start {
  justify-content: flex-start;
}

.bb-flex--justify-center {
  justify-content: center;
}

.bb-flex--justify-end {
  justify-content: flex-end;
}

.bb-flex--justify-between {
  justify-content: space-between;
}

.bb-flex--justify-around {
  justify-content: space-around;
}

.bb-flex--justify-evenly {
  justify-content: space-evenly;
}
