/* global.css */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --white: #fff;
  --text-color: #212529;
  --font-family: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#webpack-dev-server-client-overlay{display:none!important}
