/* global.css */
:root {
  --primary-color:  #3498DB;
  --secondary-color:  #5CC3FF;
  --contrast-color:  #EB984E;
  --background-color: #f8f9fa;
  --white: #fff;
  --dark:  #2C3E50;
  --gray: #ccc;
  --text-color:  #3D3D3D;
  --font-family: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.text-primary-color {
  color: var(--primary-color, blue);
}

#webpack-dev-server-client-overlay{display:none!important}
