/* global.css */
@font-face {
  font-family: 'Couture-bld';
  src: url('./assets/fonts/couture-bld.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: var(--fontFamily);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

/*Title font*/
h1, h2, .page-title {
  font-family: var(--fontFamilyTitle, 'Couture-bld', Arial, sans-serif);
}

.text-primary-color {
  color: var(--primaryColor, blue);
}

.text-center {
  text-align: center !important;
}

/*Disable Webpack Dev Server overlay*/
#webpack-dev-server-client-overlay{display:none!important}
