/* Button.css */
.custom-button {
  background-color: var(--primaryColor);
  /*color: var(--text-color);*/
  color: var(--white, white);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.custom-button:hover {
  background-color: var(--secondaryColor);
}

.custom-button .icon {
  margin-right: 8px;
}

.custom-button.full-width {
  width: 100%;
  display: block; /* Ensure it behaves as a block-level element */
}
