/* components/MenuBar/MenuBar.css */
.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--menuBarBackground); /* Replace with your theme color */
  padding: 1rem;
  width: 100%;
}

.menu-bar-logo img {
  height: 40px;
  cursor: pointer;
}

.menu-bar-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-bar-link {
  text-decoration: none;
  font-weight: 500;
  font-size: var(--menuBarLinkFontSize, 1rem);
  color: var(--menuBarTextColor, white);
}

.menu-bar-link:hover {
  color: var(--menuBarLinkHoverColor, #3498db); /* Replace with your theme primary color */
}

.menu-bar-button {
  font-size: var(--menuBarButtonFontSize, 1rem);
}
