.mobile-menu-dropdown {
  position: relative;
}

.mobile-menu-icon {
  background: none;
  border: none;
  color: var(--menuBarTextColor, white);
  cursor: pointer;
}

.mobile-menu-dropdown-menu {
  position: absolute;
  top: 2.5rem;
  right: 0;
  background-color: var(--dropdownBackgroundColor, #ffffff);
  box-shadow: var(--shadowSmall, 0 2px 5px rgba(0, 0, 0, 0.2));
  border-radius: var(--border-radius, 4px);
  overflow: hidden;
  z-index: 1000;
  width: var(--dropdownWidth, 250px);
  max-height: 0; /* Initially collapsed */
  opacity: 0; /* Initially invisible */
  pointer-events: none; /* Prevent interaction */
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.mobile-menu-dropdown-menu.visible {
  max-height: 500px; /* Adjust as needed */
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu-dropdown-item {
  margin: .5rem 1rem;
  padding: 0.75rem 1rem; /* Adjust padding for a larger clickable area */
  color: var(--dropdownTextColor, #333); /* Darker text for light background */
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: column
}

.mobile-menu-dropdown-item:last-child {
  border-bottom: none; /* Remove border from the last item */
}

.dropdown-menu-item {
  color: var(--dropdownMenuTextColor, #333); /* Darker text for light background */
}

.mobile-menu-dropdown-item i:hover {
  background-color: var(--dropdown-hover-background, #f0f0f0); /* Subtle hover effect */
  border-radius: var(--border-radius, 4px); /* Rounded corners */
}

.submenu-icon {
  margin-left: auto;
  font-size: 1rem;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  background-color: var(--dropdownBackgroundColor, #ffffff);
  padding-left: 0;
}

.submenu.visible {
  max-height: 500px; /* Adjust based on number of items */
  opacity: 1;
}

.submenu-item {
  display: block;
  padding: 0.75rem 1rem; /* Match main menu padding */
  color: var(--dropdownMenuTextColor, #333); /* Darker text for light background */
  text-decoration: none;
  white-space: nowrap;
}

.submenu-item:hover {
  background-color: var(--dropdownHoverBackground, #f0f0f0);
}
